
html {font-size:16px;}
* {box-sizing:border-box;font-family:"DM Sans", sans-serif;font-optical-sizing:auto;font-style:normal;font-weight:normal;line-height:1.8;}
*:hover {transition:all 0.1s linear;}
a {color:var(--link-primary-color);text-decoration:none;cursor: pointer;}
a:hover {text-decoration:underline;}
body {color:var(--main-color);}
h1 {font-size:2.5rem;font-weight:600;margin:0px;line-height: normal;}
h3 {margin: 0;}
h2 {font-size:1.2rem;margin:0 0 0.5rem;}
p {margin-bottom:0.5rem;}
strong {font-weight: 600;}
main {max-width:600px;margin:0 auto;padding:1rem;position:relative;width:100%;}
:root {--link-primary-color:#1798e2;--link-secondary-color:#006CA9;--main-color:#111030;--shadow-color:#0479bd80;--text-color-light:#f0f8ff;}
.bold {font-weight:bold;}
.block  {display: block;}
.btn-content {display: flex;align-items: center;justify-content: center;}
.container {display:flex;margin-top:1rem;position:relative;}
.container>div {width:100%;}

.estudio5 {color:var(--link-primary-color);font-size:2.3rem;opacity: 0; transition: opacity 0.8s;}
.footer {margin:1rem auto;}
.header {flex-direction:column;}
.header img {border-radius:900px;max-width:100px;width:100%;min-height: 100px;}
.home-btn {align-items:center;background-color:transparent;border:none;border-radius:10px;display:none;justify-content:center;left:0;padding:.3rem;position:absolute;top:1rem;}
.home-btn:hover {background-color:#f0f8ff;}
i {font-style:normal;}
main>.container:first-child {justify-content:flex-end;text-align:end;}
.page {opacity: 0; transition: opacity 0.8s;}
section {margin:1.5rem auto;}
section h2 { font-weight: 600;font-size: 1.5rem;}
section p {font-size:1.2rem;}
.service {font-size:1.2rem;font-weight:600;max-width:100%;min-height:3rem;width:100%;cursor: pointer;}
.service span {display:inline-block;padding-bottom:5px;position:relative;}
.service span::after {width:100%;bottom:0;content:"";height:3px;left:0;position:absolute;background:linear-gradient(to right, var(--main-color), var(--link-secondary-color));background-size: 200% 100%;background-position: 0 0;transition: background-position 0.5s ease-in-out;}
.service:hover {color: var(--link-primary-color);}
.service:hover > span::after {background-position: -100% 0;}
.btn {align-items:center;background-color:var(--main-color);background-image:url(whatsapp_icon.svg);background-position:10% 50%;background-repeat:no-repeat;background-size:1.5rem;border-radius:50px;box-shadow:0px 0px 5px var(--shadow-color);color:#ffffff;display:inline-flex;padding:.5rem 1.5rem .5rem 2rem;text-indent:1rem;}
.btn:hover {background-color:var(--link-primary-color);text-decoration:none;}
.success-message { display: none; align-items: center; background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; border-radius: 5px; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); max-width: 400px; margin: 10px auto; position: absolute;z-index: 2;}
.success-message .icon { font-size: 20px; margin-right: 10px; }
.success-message .message-text { flex-grow: 1; }
iframe {width: 100%;min-height: 600px;border:none;box-shadow: none;overflow: hidden;}
.contact form {display:flex;flex-direction:column;justify-content:baseline;max-width:100%;}
.contact form button {background-color:transparent;border:2px solid var(--main-color);border-radius:.6rem;color:var(--main-color);font-size:1.2rem;font-weight:600;padding:1rem;width:100%;}
.contact form button:hover {background-color:var(--main-color);color:#f0f8ff;cursor:pointer;}
.contact form input {border:0.8px solid #eee;border-radius:.6rem;font-size:1.2rem;margin-bottom:1rem;padding:1rem;}
.contact form label {font-weight:550;margin:.5rem 0;}
.contact form textarea {border:0.8px solid #eee;border-radius:.6rem;font-size:1.2rem;margin-bottom:1rem;min-height:15rem;padding:1rem;resize:none;}
@media (max-width: 500px) {
    .container:not(.header) {flex-direction:column;}
    .btn-content {width: 100%;margin: 1rem 0 1.3rem .5rem;justify-content: flex-start}
}